* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.voltar a{
    margin-left: 80%;

}



.body-img{

   
    position: absolute;
    background-image: url("./portfoliominimalista.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-image: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;

}

h3{
    color: #03070D;
}

p{
    color: #403E3B;
    display: flex;
    margin: 20px 5px;
    font-size: 1.5rem;
}

.color-p{
    color: #F0F2DF;
    text-shadow: 2px 2px 3px #0D0D0D;

}

.color-cta{
    color: #A6A6A4;
    text-shadow: 2px 2px 3px #0D0D0D;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}




a{
    text-decoration: none;
}

.title{
    padding: 5rem 1.5rem ; /*tamanho da caixa transparente*/
    margin: 5rem 40rem 0 10rem; /*isto coloca espaco na margem e a secao transparente*/
    background-color: #a6a6a6;
    opacity: 0.4;
}


.container{
    width: 100%;
    max-width: 98%;
    position: relative;
    
}

.container h3{
    padding-top: 35%;

}



section{
    height: 87vh;
    width: 100%;
   
    
}

.image-banner{
    background-image: url("./portfoliominimalista.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    filter: grayscale(55%);
   

}
.container-prog{
    padding-top: 20%;
    position: relative;


}
.programmer{
    position: relative;
    left: 40%;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
    transform: translate(-50%, -70%);
    
}

.programmer h1{
    font-size: 30px;
}

.programmer h3{
    font-size: 15px;
    color: lightgray;
    padding: 1px 0px;
}

.story, .portfolio{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 80px 0px;
}


.story-descrip,
.portfolio-descrip{
    width: 60%;
    justify-content: space-between;
}

.story-descrip h3, .portfolio-descrip h3{
    font-size: 36px;
    padding-bottom: 30px;
}


.story-descrip p,
.portfolio-descrip p{
    padding: 10px 0px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
}


.portfolio-gallery{
    display: grid;
    grid-template-columns: repeat(2, 240px);
    margin-right: 5px;
    
}

.portfolio-gallery img{
    width: 100%;
    margin-bottom: 5%;
    padding-right: 8%;
}



.profile img{
    width: 80vh;
    align-content: center;
}

.figure-caption{
    padding-right: 8%;
    
}

@media (min-width: 576px){
    .container-prog{
        padding-top: 30%;
        display: flex;
        
    }

    .programmer h1 {
        font-size: 20px;
        text-align: center;


    }

    .programmer h3{
        font-size: 10px;
        line-height: 10px;


    }

    

}


@media (min-width: 780px){
    .container-prog{
        padding-top: 30%;
        display: flex;
        
    }

    .programmer h1 {
        font-size: 35px;
        text-align: center;


    }

    .programmer h3{
        font-size: 20px;
        line-height: 10px;


    }

    

}











@media (min-width: 1024px){
    .container-prog{
        padding-top: 30%;
        display: flex;
        
    }

    .programmer h1 {
        font-size: 40px;
        text-align: center;


    }

    .programmer h3{
        font-size: 20px;
        line-height: 15px;


    }

    

}